#container {
  margin: 20px;
  padding: 20px;
}

#container::before {
  content: "Before Element"; /* Match Cypress test expectation */
  color: #f00;
  font-size: 20px;
}

#container::after {
  content: "After Element"; /* Match Cypress test expectation */
  color: #f00;
  font-size: 20px;
}
