/*  your css code here. If applicable */
:root {
  --main-color: #f00;
}
.container{
	margin:20px;
	font-size:20px;
}
p:first-line{
	color:var(--main-color);
}
p:last-child{
	color: var(--main-color);
}